.spinner {
  display: grid;
  place-items: center;
}

.spinner::after {
  content: "";
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 10px solid #0e0e47;
  border-right-color: transparent;
  animation: spinner 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes spinner {
  100% {
    transform: rotate(1turn);
  }
}
